{% load static %}
<html>
<style>
table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 98%;
  border: 1px solid #ddd;
  align:center;
      float: none;
          margin: 0 auto;
}

th, td {
  text-align: center;
  padding: 16px;
  border: 1px solid #dddddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;

</style>
<head>
    <meta charset="UTF-8">

    <script src="{% static '/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/DataTables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/moment/moment.js' %}"></script>
    <script src="{% static '/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/Bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
    <script>
      $(document).ready(function() {
        $('#hii').DataTable();
      });
    </script>
    <title>Videos</title>
</head>

<body>
<h3><b>&nbsp &nbsp Event Journal</b></h3>
<div class="panel panel-default" style="width: 97%;margin:0 auto;">
    <div class="panel-heading">Filter Setting
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">Event Type</div>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label><input type="checkbox"  name="type" value="Stop">Stop</label>
                    &nbsp
                    <label><input type="checkbox"  name="type" value="Queue">Queue</label>
                    &nbsp
                    <label><input type="checkbox" name="type" value="WrongWay">Wrong Way</label>
                    &nbsp
                    <label><input type="checkbox" name="type" value="Pedestrian">Pedestrian</label>
                    &nbsp
                    <label><input type="checkbox" name="type" value="ImageDegradation">Image degradation</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">Priod</div>
                <div class="container">
                    <div class='col-sm-1'>from</div>
                        <div class='col-sm-3'>
                            <div class="form-group">
                                <div class='input-group date' id='dateTimePicker1'>
                                     <input type='text' class="form-control" id="dateTimePick1" />
                                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>
                        </div>
<div class='col-sm-1'>To</div>
                    <div class='col-sm-3'>
                            <div class="form-group">
                                <div class='input-group date' id='dateTimePicker2'>
                                    <input type='text' class="form-control" id="dateTimePick2" />
                                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
            $(function () {
                $('#dateTimePicker1').datetimepicker({
                 format: 'YYYY-MM-DD HH:mm'});

                $('#dateTimePicker2').datetimepicker({
                 format: 'YYYY-MM-DD HH:mm'});
            });
        </script>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <button type="button" class="btn btn-success" onclick="filterMe()">Apply</button>
                <button type="button" class="btn btn-warning">Download CSV</button>
                <script>


                $(function() {
  oTable = $('#hii').dataTable();
})

function filterMe() {
  var types = $('input:checkbox[name="type"]:checked').map(function() {
    return '^' + this.value + '\$';
  }).get().join('|');
  oTable.fnFilter(types, 3, true, false, false, false);
}

                    function tableCreate() {
                        $("#hii").remove();
                        var age = document.getElementById("dateTimePick1").value;
                        var stop = document.getElementById("stopCheck").checked;
                        var queue = document.getElementById("queueCheck").checked;
                        var wrong = document.getElementById("wrongCheck").checked;
                        var pedestrian = document.getElementById("pedestrianCheck").checked;
                        var image = document.getElementById("imageCheck").checked;
                        var notCheck = ((stop == false) && (queue == false) && (wrong == false) && (pedestrian == false) && (image == false))

                        var stopType = {{stopType | safe }};
                        var queueType = {{queueType | safe }};
                        var wrongType = {{wrongType | safe }};
                        var pedestrianType = {{pedestrianType | safe }};
                        var imageType = {{imageType | safe }};
                        var allIncidents = {{allIncidents | safe}}
                      //  let tbl = document.getElementById("hii");
                        let body = document.getElementsByTagName('here')[0];
                        let tbl = document.createElement("hii");
                        let thead = document.createElement('thead');
                        let thr = document.createElement('tr');
                        let th1 = document.createElement('th');
                        th.appendChild(document.createTextNode("COUNT"));
                        thr.appendChild(th1);
                        let th2 = document.createElement('th');
                        th2.appendChild(document.createTextNode("TIME"));
                        thr.appendChild(th2);
                        let th3 = document.createElement('th');
                        th3.appendChild(document.createTextNode("NAME"));
                        thr.appendChild(th3);
                        let th4 = document.createElement('th');
                        th4.appendChild(document.createTextNode("TYPE"));
                        thr.appendChild(th4);
                        let th5 = document.createElement('th');
                        th5.appendChild(document.createTextNode("IMAGE"));
                        thr.appendChild(th5);
                        thead.appendChild(thr);
                        tbl.appendChild(thead);
                        let tbdy = document.createElement('tbody');
                        if ( notCheck == true ) {
                              for (var i = 0; i < allIncidents.length; i++) {
                                 let newRow = tbl.insertRow(-1);
                                 let idCell = newRow.insertCell(0);
                                 let timeCell = newRow.insertCell(1);
                                 let nameCell = newRow.insertCell(2);
                                 let typeCell = newRow.insertCell(3);
                                 let imageCell = newRow.insertCell(4);
                                 var obj = allIncidents[i];
                                 for (var key in  obj) {
                                            let newText = document.createTextNode(obj[key])
                                            if (key == 'id' ) {
                                            idCell.appendChild(newText);
                                            }
                                            else if (key == 'videodatetime') {
                                            timeCell.appendChild(newText);
                                            }
                                            else if (key == 'name' ) {
                                            nameCell.appendChild(newText);
                                            }
                                            else if (key == 'type') {
                                            typeCell.appendChild(newText);
                                             }
                                            else if (key == 'video_name') {
                                            imageCell.innerHTML = '<video id="video1" width="150"><source src="{% get_static_prefix %}videos/' + obj[key] + '.mp4" type="video/mp4">Your browser does not support HTML5 video.</video><br><br><a href="{% get_static_prefix %}videos/' + obj[key] + '.mp4" id="video2" target="_blank"><button onclick="playPause()">Play</button></a><a download="GFG.mp4" href="{% get_static_prefix %}videos/' + obj[key] + '.mp4"><button type="button">Download</button></a>';
                                             }
                                 }
                              }
                         }

                        if ( stop == true ) {
                        for (var i = 0; i < stopType.length; i++) {
                                 let newRow = tbl.insertRow(-1);
                                 let idCell = newRow.insertCell(0);
                                 let timeCell = newRow.insertCell(1);
                                 let nameCell = newRow.insertCell(2);
                                 let typeCell = newRow.insertCell(3);
                                 let imageCell = newRow.insertCell(4);
                                 var obj = stopType[i];
                                 for (var key in  obj) {
                                            let newText = document.createTextNode(obj[key])
                                            if (key == 'id' ) {
                                            idCell.appendChild(newText);
                                            }
                                            else if (key == 'videodatetime') {
                                            timeCell.appendChild(newText);
                                            }
                                            else if (key == 'name' ) {
                                            nameCell.appendChild(newText);
                                            }
                                            else if (key == 'type') {
                                            typeCell.appendChild(newText);
                                             }
                                            else if (key == 'video_name') {
                                            imageCell.innerHTML = '<video id="video1" width="150"><source src="{% get_static_prefix %}videos/' + obj[key] + '.mp4" type="video/mp4">Your browser does not support HTML5 video.</video><br><br><a href="{% get_static_prefix %}videos/' + obj[key] + '.mp4" id="video2" target="_blank"><button onclick="playPause()">Play</button></a><a download="GFG.mp4" href="{% get_static_prefix %}videos/' + obj[key] + '.mp4"><button type="button">Download</button></a>';
                                             }
                                 }
                              }
                              }
                              if ( queue == true ) {
                              for (var i = 0; i < queueType.length; i++) {
                                 let newRow = tbl.insertRow(-1);
                                 let idCell = newRow.insertCell(0);
                                 let timeCell = newRow.insertCell(1);
                                 let nameCell = newRow.insertCell(2);
                                 let typeCell = newRow.insertCell(3);
                                 let imageCell = newRow.insertCell(4);
                                 var obj = queueType[i];
                                 for (var key in  obj) {
                                            let newText = document.createTextNode(obj[key])
                                            if (key == 'id' ) {
                                            idCell.appendChild(newText);
                                            }
                                            else if (key == 'videodatetime') {
                                            timeCell.appendChild(newText);
                                            }
                                            else if (key == 'name' ) {
                                            nameCell.appendChild(newText);
                                            }
                                            else if (key == 'type') {
                                            typeCell.appendChild(newText);
                                             }
                                            else if (key == 'video_name') {
                                            imageCell.innerHTML = '<video id="video1" width="150"><source src="{% get_static_prefix %}videos/' + obj[key] + '.mp4" type="video/mp4">Your browser does not support HTML5 video.</video><br><br><a href="{% get_static_prefix %}videos/' + obj[key] + '.mp4" id="video2" target="_blank"><button onclick="playPause()">Play</button></a><a download="GFG.mp4" href="{% get_static_prefix %}videos/' + obj[key] + '.mp4"><button type="button">Download</button></a>';
                                             }
                                 }
                              }
                              }
                              if ( wrong == true ) {
                              for (var i = 0; i < wrongType.length; i++) {
                                 let newRow = tbl.insertRow(-1);
                                 let idCell = newRow.insertCell(0);
                                 let timeCell = newRow.insertCell(1);
                                 let nameCell = newRow.insertCell(2);
                                 let typeCell = newRow.insertCell(3);
                                 let imageCell = newRow.insertCell(4);
                                 var obj = wrongType[i];
                                 for (var key in  obj) {
                                            let newText = document.createTextNode(obj[key])
                                            if (key == 'id' ) {
                                            idCell.appendChild(newText);
                                            }
                                            else if (key == 'videodatetime') {
                                            timeCell.appendChild(newText);
                                            }
                                            else if (key == 'name' ) {
                                            nameCell.appendChild(newText);
                                            }
                                            else if (key == 'type') {
                                            typeCell.appendChild(newText);
                                             }
                                            else if (key == 'video_name') {
                                            imageCell.innerHTML = '<video id="video1" width="150"><source src="{% get_static_prefix %}videos/' + obj[key] + '.mp4" type="video/mp4">Your browser does not support HTML5 video.</video><br><br><a href="{% get_static_prefix %}videos/' + obj[key] + '.mp4" id="video2" target="_blank"><button onclick="playPause()">Play</button></a><a download="GFG.mp4" href="{% get_static_prefix %}videos/' + obj[key] + '.mp4"><button type="button">Download</button></a>';
                                             }
                                 }
                              }
                              }
                              if ( pedestrian == true ) {
                              for (var i = 0; i < pedestrianType.length; i++) {
                                 let newRow = tbl.insertRow(-1);
                                 let idCell = newRow.insertCell(0);
                                 let timeCell = newRow.insertCell(1);
                                 let nameCell = newRow.insertCell(2);
                                 let typeCell = newRow.insertCell(3);
                                 let imageCell = newRow.insertCell(4);
                                 var obj = pedestrianType[i];
                                 for (var key in  obj) {
                                            let newText = document.createTextNode(obj[key])
                                            if (key == 'id' ) {
                                            idCell.appendChild(newText);
                                            }
                                            else if (key == 'videodatetime') {
                                            timeCell.appendChild(newText);
                                            }
                                            else if (key == 'name' ) {
                                            nameCell.appendChild(newText);
                                            }
                                            else if (key == 'type') {
                                            typeCell.appendChild(newText);
                                             }
                                            else if (key == 'video_name') {
                                            imageCell.innerHTML = '<video id="video1" width="150"><source src="{% get_static_prefix %}videos/' + obj[key] + '.mp4" type="video/mp4">Your browser does not support HTML5 video.</video><br><br><a href="{% get_static_prefix %}videos/' + obj[key] + '.mp4" id="video2" target="_blank"><button onclick="playPause()">Play</button></a><a download="GFG.mp4" href="{% get_static_prefix %}videos/' + obj[key] + '.mp4"><button type="button">Download</button></a>';
                                             }
                                 }
                              }
                              }
                              if ( image == true ) {
                              for (var i = 0; i < imageType.length; i++) {
                                 let newRow = tbl.insertRow(-1);
                                 let idCell = newRow.insertCell(0);
                                 let timeCell = newRow.insertCell(1);
                                 let nameCell = newRow.insertCell(2);
                                 let typeCell = newRow.insertCell(3);
                                 let imageCell = newRow.insertCell(4);
                                 var obj = imageType[i];
                                 for (var key in  obj) {
                                            let newText = document.createTextNode(obj[key])
                                            if (key == 'id' ) {
                                            idCell.appendChild(newText);
                                            }
                                            else if (key == 'videodatetime') {
                                            timeCell.appendChild(newText);
                                            }
                                            else if (key == 'name' ) {
                                            nameCell.appendChild(newText);
                                            }
                                            else if (key == 'type') {
                                            typeCell.appendChild(newText);
                                             }
                                            else if (key == 'video_name') {
                                            imageCell.innerHTML = '<video id="video1" width="150"><source src="{% get_static_prefix %}videos/' + obj[key] + '.mp4" type="video/mp4">Your browser does not support HTML5 video.</video><br><br><a href="{% get_static_prefix %}videos/' + obj[key] + '.mp4" id="video2" target="_blank"><button onclick="playPause()">Play</button></a><a download="GFG.mp4" href="{% get_static_prefix %}videos/' + obj[key] + '.mp4"><button type="button">Download</button></a>';
                                             }
                                 }
                              }
                              }
                        }
                </script>

            </div>
        </div>
    </div>
</div>
<br>
<div class="panel  panel-default" name="here" style="width: 97%;margin:0 auto;">

    <div class="panel-heading">Event List
    </div>
    <div class="panel-body">
        <br>
        <table id="hii"  class="stripe">
            <thead>
            <tr>
                <th >COUNT</th>
                <th >TIME</th>
                <th >NAME</th>
                <th >TYPE</th>
                <th >IMAGE</th>

            </tr>
            </thead>
            <tbody>
            {% for entry in allvideos %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.videodatetime}}</td>
                <td>{{ entry.name}}</td>
                <td>{{ entry.type}}</td>
                <td>
                    <div style="    text-align:center">
                        <video id="video1" width="150">
                            <source src="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4"  type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        <br><br>
                        <a href="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4" id="video2" target="_blank">
                            <button onclick="playPause()">Play</button>
                        </a>
                        <a download="GFG.mp4" href="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4">
                            <button type="button">Download</button>
                        </a>
                        <br><br>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
</body>
</html>
