{% load static %}
<html>
<style>
table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 98%;
  border: 1px solid #ddd;
  align:center;
      float: none;
          margin: 0 auto;
}

th, td {
  text-align: center;
  padding: 16px;
  border: 1px solid #dddddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;

</style>
<head>
    <meta charset="UTF-8">

    <script src="{% static '/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/DataTables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/DataTables/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static '/DataTables/js/buttons.flash.min.js' %}"></script>
    <script src="{% static '/DataTables/js/buttons.html5.min.js' %}"></script>


    <script src="{% static '/moment/moment.js' %}"></script>
    <script src="{% static '/moment/datetime-moment.js' %}"></script>
    <script src="{% static '/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/Bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
    <script>
    $.fn.dataTable.ext.search.push(
   function( settings, data, dataIndex ) {
     var min = Date.parse( $('#dateTimePickerFrom').val());
     var max = Date.parse( $('#dateTimePickerTo').val());
     var date = Date.parse( data[2] ) || 0;

      if ( ( isNaN( min ) && isNaN( max ) ) ||
           ( isNaN( min ) && date <= max ) ||
           ( min <= date   && isNaN( max ) ) ||
           ( min <= date   && date <= max ) )
      {
        return true;
      }
      return false;
  }
);
$('#dateTimePickerFrom, #dateTimePickerTo').on("changeDate", function() {
  oTable.draw();
});
      $(document).ready(function() {
        $('#hii').DataTable();
      });
    </script>
    <title>Videos</title>
</head>

<body>
<h3><b>&nbsp &nbsp Event Journal</b></h3>
<div class="panel panel-default" style="width: 97%;margin:0 auto;">
    <div class="panel-heading">Filter Setting
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">Event Type</div>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label><input type="checkbox"  name="type" value="Stop">Stop</label>
                    &nbsp
                    <label><input type="checkbox"  name="type" value="Queue">Queue</label>
                    &nbsp
                    <label><input type="checkbox" name="type" value="WrongWay">Wrong Way</label>
                    &nbsp
                    <label><input type="checkbox" name="type" value="Pedestrian">Pedestrian</label>
                    &nbsp
                    <label><input type="checkbox" name="type" value="ImageDegradation">Image degradation</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">Priod</div>
            <div class="container">
                <div class='col-sm-3'>
                    <div class="form-group form-inline">
                        <span id="date-label-from" class="date-label">From: </span>
                        <div class='input-group date' id='dateTimePickerFrom'>
                            <input type='text' class="form-control" id="dateTimePick1" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class="form-group form-inline ">
                        <span id="date-label-to" class="date-label">To: </span>
                        <div class='input-group date' id='dateTimePickerTo'>
                            <input type='text' class="form-control" id="dateTimePick2" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
            $(function () {
              oTable = $('#hii').dataTable();
                $('#dateTimePickerFrom').datetimepicker({
                 format: 'YYYY-MM-DD HH:mm',
                 });
                $('#dateTimePickerTo').datetimepicker({
                 format: 'YYYY-MM-DD HH:mm',
                 });
            });
        </script>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <button type="button" class="btn btn-success" onclick="filterMe()">Apply</button>
                <button type="button" class="btn btn-warning" onclick="csvMe1()" id="csvButton" >Download CSV</button>
                <script>

function csvMe1() {
  var titles = [];
  var data = [];

  $('.dataTable  th').each(function() {
    titles.push($(this).text());
  });

  $('.dataTable  td').each(function() {
    data.push($(this).text());
  });
  var CSVString = prepCSVRow(titles, titles.length, '');
  CSVString = prepCSVRow(data, titles.length, CSVString);
  var downloadLink = document.createElement("a");
  var blob = new Blob(["\ufeff", CSVString]);
  var url = URL.createObjectURL(blob);
  downloadLink.href = url;
  downloadLink.download = "data.csv";
  document.body.appendChild(downloadLink);
  downloadLink.click();
  document.body.removeChild(downloadLink);
}

function prepCSVRow(arr, columnCount, initial) {
  var row = ''; // this will hold data
  var delimeter = ','; // data slice separator, in excel it's `;`, in usual CSv it's `,`
  var newLine = '\r\n'; // newline separator for CSV row

 function splitArray(_arr, _count) {
    var splitted = [];
    var result = [];
    _arr.forEach(function(item, idx) {
      if ((idx + 1) % _count === 0) {
        splitted.push(item);
        result.push(splitted);
        splitted = [];
      } else {
        splitted.push(item);
      }
    });
    return result;
  }
  var plainArr = splitArray(arr, columnCount);
  plainArr.forEach(function(arrItem) {
    arrItem.forEach(function(item, idx) {
      row += item + ((idx + 1) === arrItem.length ? '' : delimeter);
    });
    row += newLine;
  });
  return initial + row;
}

$(function() {
  oTable = $('#hii').dataTable();
})
function filterMe() {
  var types = $('input:checkbox[name="type"]:checked').map(function() {
    return '^' + this.value + '\$';
  }).get().join('|');
  oTable.fnFilter(types, 3, true, false, false, false);
}

                </script>
            </div>
        </div>
    </div>
</div>
<br>
<div class="panel  panel-default" name="here" style="width: 97%;margin:0 auto;">

    <div class="panel-heading">Event List
    </div>
    <div class="panel-body">
        <br>
        <table id="hii"  class="display nowrap">
            <thead>
            <tr>
                <th >COUNT</th>
                <th >TIME</th>
                <th >NAME</th>
                <th >TYPE</th>
                <th >IMAGE</th>

            </tr>
            </thead>
            <tbody>
            {% for entry in allvideos %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.videodatetime| date:'Y-m-d H:m'}}</td>
                <td>{{ entry.name}}</td>
                <td>{{ entry.type}}</td>
                <td>
                    <div style="    text-align:center">
                        <video class="embed-responsive-item" id="video1" width="150" controls>
                            <source src="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4"  type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        <br><br>
                        <!--<a href="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4" id="video2" target="_blank">
                            <button onclick="playPause()">Play</button>
                        </a>
                        <a download="GFG.mp4" href="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4">
                            <button type="button">Download</button>
                        </a>-->
                        <br><br>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
</body>
</html>
