{% load static %}
<html>
<head>
    <style>
table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 98%;
  border: 1px solid #ddd;
  align:center;
      float: none;
          margin: 0 auto;
}

th, td {
  text-align: center;
  padding: 16px;
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static '/css/bootstrap-datetimepicker.css' %}">
    <script src="{% static '/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static '/moment/moment.js'%}"></script>
    <title>Videos</title>
</head>

<body>
<h3><b>&nbsp &nbsp Event Journal</b></h3>
<div class="panel panel-default" style="width: 97%;margin:0 auto;">
    <div class="panel-heading">Filter Setting
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">Event Type</div>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label><input type="checkbox" value="">Stop</label>
                    &nbsp
                    <label><input type="checkbox" value="">Queue</label>
                    &nbsp
                    <label><input type="checkbox" value="">Wrong Way</label>
                    &nbsp
                    <label><input type="checkbox" value="">Pedestrian</label>
                    &nbsp
                    <label><input type="checkbox" value="">image degradation</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">Priod</div>
            <div class="col-sm-9">
                <div class="container">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>

                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button type="button" class="btn btn-success" onclick="tableCreate()">Apply</button>
                <button type="button" class="btn btn-warning">Download CSV</button>
                <!--<input type="hidden" id="myVar" name="post_list" value="{{ post_list }}">-->
                <script>
                    function tableCreate() {
                        $("#hii tr>td").remove();
                        var typeStop = {{type_stop | safe }};
                        let tbl = document.getElementById("hii");
                        for (var i = 0; i < typeStop.length; i++) {
                                 let newRow = tbl.insertRow(-1);
                                 let idCell = newRow.insertCell(0);
                                 let timeCell = newRow.insertCell(1);
                                 let nameCell = newRow.insertCell(2);
                                 let typeCell = newRow.insertCell(3);
                                 let imageCell = newRow.insertCell(4);
                                 var obj = typeStop[i];
                                 for (var key in  obj) {
                                            let newText = document.createTextNode(obj[key])
                                            if (key == 'id' ) {
                                            idCell.appendChild(newText);
                                            }
                                            else if (key == 'videodatetime') {
                                            timeCell.appendChild(newText);
                                            }
                                            else if (key == 'name' ) {
                                            nameCell.appendChild(newText);
                                            }
                                            else if (key == 'type') {
                                            typeCell.appendChild(newText);
                                             }
                                            else if (key == 'video_name') {
                                            imageCell.innerHTML = '<video id="video1" width="150"><source src="{% get_static_prefix %}videos/{{ video_name}}.mp4" type="video/mp4">Your browser does not support HTML5 video.</video><br><br><a href="{% get_static_prefix %}videos/{{video_name}}.mp4" id="video2" target="_blank"><button onclick="playPause()">Play</button></a><a download="GFG.mp4" href="{% get_static_prefix %}videos/{{newText}}.mp4"><button type="button">Download</button></a>';
                                             }
                                 }
                                 addRow('hii')
                              }
                        }
                </script>

            </div>
        </div>
    </div>
</div>
<br>
<div class="panel  panel-default" style="width: 97%;margin:0 auto;">
    <div class="panel-heading">Event List
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="dropdown">
                <label class="form-check-label" for="dropdownMenu1">Show </label>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="width: 4%;text-align:left">
                    10
                    <span class="caret"></span>
                </button>
                <label class="form-check-label" for="dropdownMenu1">events</label>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"  style="width: 4%;">
                    <li  style="width: 4%;">10</li>
                    <li  style="width: 4%;">15</li>
                    <li  style="width: 4%;">20</li>
                    <!--li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li-->
                </ul>
            </div>
        </div>
    </div>
    <br>
    <table id="hii">
        <tr>
            <th>Count</th>
            <th>Time</th>
            <th>Name</th>
            <th>Type</th>
            <th>Image</th>
        </tr>
        {% for entry in allvideos %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.videodatetime}}</td>
            <td>{{ entry.name}}</td>
            <td>{{ entry.type}}</td>
            <td>
                <div style="    text-align:center">
                    <video id="video1" width="150">
                        <source src="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4"  type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <br><br>
                    <a href="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4" id="video2" target="_blank">
                        <button onclick="playPause()">Play</button>
                    </a>
                    <a download="GFG.mp4" href="{% get_static_prefix %}videos/{{ entry.video_name}}.mp4">
                        <button type="button">Download</button>
                    </a>
                    <br><br>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
</body>
<script>
var myTable = document.getElementById("hii");
var myVideo = document.getElementById("video1");
function playPause() {
  if (myVideo.paused)
      myVideo.width = 1024;
      myVideo.play();
            myVideo.width = 1024;
  else
    myVideo.pause();
}
function makeBig() {
    myVideo.width = 1024;
}
function makeSmall() {
    myVideo.width = 320;
}
function makeNormal() {
    myVideo.width = 420;
}
</script>
